#contato{
    margin: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-start;
}

#contato ul{
    list-style: none;
    padding: 2px;
}

#contato li{
    padding: 3px;
}

#local-contato{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#local-contato span{
    color: #555;
    font-size: 14px;
}